<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/detail/style.css">
    <link rel="stylesheet" href="/static/css/student/myclub.css">
    <link rel="stylesheet" href="/static/css/detail/footer.css">
    <link rel="stylesheet" href="/static/css/detail/popup.css">
    <link rel="stylesheet" href="/static/css/detail/popup-mypage.css">
    <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">
    <title>JoinUS!</title>
</head>

<body>
    <header>
        <nav class="nav">
            <a href="/templates/student/home.html"><div><img src="/static/images/logo-title.png" alt=""></div></a>
            <div class="my-div">
                <div class="mypage"><img class="mypage-img" src="/static/images/student-logo.png"
                    alt="mypage"></div>
                <!-- 마이페이지 팝업 -->
                <div class="popup-mypage">
                    <a href="/templates/mypage/setting-password.html"><div><img class="setting" src="/static/images/setting.png" alt=""></div></a>
                    <img class="logout" src="/static/images/logout.png" alt="">
                </div>
            </div>
        </nav>
    </header>

    <main id="main">
 <div id="adjust-container">
    <section class="search-container2">
        <input type="text" id="search-bar" placeholder="동아리를 검색해 주세요.">
        <img src="/static/images/blue-search-bar.png" alt="">
    </section>

    <div id="clubMobile-container">
         <span class="all-club title"><a href="home.html">모든 동아리</a></span>
         <span class="slash title">/</span>
         <span class="join titles">신청</span>
    </div>


        <section class="section-club">
            <div id="club-text">동아리</div>

            <div id="club-container">
                <a href="home.html">
                    <div class="option2 club">모든 동아리</div>
                </a>
                <div class="option3 club">신청 동아리</div>
            </div>
        </section>

        <!-- 신청 취소 팝업창 -->
        <div id="overlay"></div>
        <div id="popup">
            <div class="message">성공적으로 동아리 신청이 &nbsp;<p class="delete-accent">취소</p>&nbsp; 됐습니다.</div>
            <div class="club-name">
                <div class="clubTitle">다양한 공부 동아리</div>
            </div>
            <button id="close-btn">확인</button>
        </div>

        <!-- 검색바 -->
        
        <section class="search-container">
            <img src="/static/images/search-bar.png" alt="">
            <input type="text" id="search-bar" placeholder="동아리를 검색해 주세요.">
        </section>

        <section class="club-list">
            <article class="article">
                <div class="container1">
                    <img src="/static/images/yellowstar.png" alt="">
                    <div class="article-container">
                        <div class="title-container">
                            <div class="club-title">다양한 공부 동아리</div>
                            <div class="teacher">우호식선생님</div>
                            <div class="apply">지원가능</div>
                        </div>
                        <div class="content">다양한 공부 지원 많아서 공부 열심히 하고 싶은 학생들 이것 저것 다 도와줌...</div>
                    </div>
                </div>
                <div class="container2">
                    <div class="clubmember">
                        <img src="\static\images\personnel.png" alt="">
                        <div>10/10</div>
                    </div>
                    <img class="delete-button" src="/static/images/delete-button.png" alt="">
                </div>
            </article>
        </section>
    </div>
    </main>

    <footer id="footer">
        <div class="footerinfo">
            <img src="/static/images/logo-title.png" alt="JoinUS" class="JoinUS-logo">
            <p class="footer-info tell">문의전화 : 010-0000-0000</p>
            <p class="footer-info email">이메일 : ssss@e-mirim.hs.kr</p>
        </div>
        <hr>
        <p class="copy">©Team App&Me</p>
    </footer>
    <script src="/static/js/student/myclub.js"></script>
    <script src="/static/js/mypage/popup-mypage.js"></script>
</body>

</html>