#footer {
    width: 100%;
    height: 300px;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerinfo {
    width: 100%;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    margin-bottom: 16px;
}

.footer-info {
    color: #575757;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
}

.tell {
    margin-top: 16px;
}

.email {
    margin: 8px 0 16px 0;
}

hr {
    width: 100%;
    max-width: 1320px;
    border: 0;
    border-top: 1px solid #828282;
    margin: 0 auto; 
}

.copy {
    color: #616161;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}


/* mobile */
@media (max-width: 550px) {
     #footer{
        padding: 20px 30px;
     }

     .JoinUS-logo{
       height: 50px;
     }

     .footerinfo, hr{
        width: 100%;
        max-width: 400px;
        padding: 20px 30px;
     }

     .copy{
        margin-top: -10px;
     }
}

/* tablet */