body>header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 42px 0;
}

.nav {
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mypage-img {
    width: 34px;
    height: 34px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    width: 100%;
    box-sizing: border-box;
}
 /* tablet */
 @media(min-width: 1025px) and (max-width: 1550px) {
    body>header , footer{
        display: flex;
        width: 100%;
        max-width: 1550px;
        padding: 25px 115px;
        justify-content: space-between;
        align-items: center;
    }
    #main{
       padding: 25px 115px;
        
    }
     
 }

 @media (max-width:1024px) {

    body>header,
    footer {
        display: flex;
        width: 100%;
        max-width: 1024px;
        padding: 25px 115px;
        justify-content: space-between;
        align-items: center;
    }

    #logo-title {
        height: 34px;
    }

    .mypage-img {
        width: 20.503px;
        height: 20.643px;
    }

    #main {
        margin-top: 158px;
        padding: 25px 115px;
    }

    .section-club {
        width: 100%;
        max-width: 794px;
    }

    #club-text {
        font-size: 20px;
    }

    .club {
        font-size: 12px;
    }
}

/* mobile */