#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 737px;
    height: 451px;
    padding: 60px 50px 40px 50px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 1px 5px 20px 0px #AAB2C8;
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 178, 200, 0.50);
    z-index: 1000;
}

#close-btn {
    display: block;
    margin: 20px auto 0;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    background: #1F64FF;
    color: #FFF;
    font-size: 18px;
    border: none;
    cursor: pointer;
}



.club-name {
    width: 634px;
    height: 221px;
    background-color: #F5F6FA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px 0 25px 0;
}

.club-name>div {
    color: #0047FF;
    font-size: 24px;
    font-weight: 700;
}

.club-name>.clubTitle {
    color: #DA4948;
    font-size: 24px;
    font-weight: 700;
}

.message {
    color: #002;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accent {
    color: #0047FF;
    font-size: 1.375rem;
}

.delete-accent {
    color: #DA4948;
}

/* 관리자 시간 설정 팝업 */

#time-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 5px 20px 0px #AAB2C8;
    z-index: 1001;
    width: 737px;
    height: 451px;
    text-align: center;
}

.popup-titleTime {
    color: #002;
    font-size: 24px;
    font-weight: 800;
    margin-top: 28px;
}

.info-container {
    margin-top: 43px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.inputTime-container {
    display: flex;
    justify-content: center;
    width: 500px;
    gap: 19px;
}

.popup-title {
    color: #0047FF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 100px;
    align-self: flex-start;
}


.inputNumber input {
    width: 50px;
    padding: 5px;
    margin-right: 5px;
    outline: none;
    border: none;
    background: #F5F6FA;
}


.inputNumber {
    display: flex;
    width: 135px;
    height: 40px;
    padding: 7px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #F5F6FA;
}

.inputHour {
    display: flex;
    width: 210px;
    height: 40px;
    padding: 7px 17px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #F5F6FA;
}

.infos {
    display: inline-block;
    color: #1F64FF;
    font-size: 22px;
    font-weight: 600;
}


.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    width: 12px;
    height: 12px;
}


.setting-btn {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background: var(--, #1F64FF);
    color: #FFF;
    font-size: 18px;
    width: 135px;
    height: 45px;
    margin-top: 40px;
}

/* 사용자 일괄 업데이트 */
#update-popup {



    display: none;
    background-color: #FFF;
    border-radius: 5px;
    width: 1153px;
    height: 1159px;
    margin: auto;
    position: relative;
    box-shadow: 1px 5px 20px 0px #AAB2C8;
    z-index: 1000;
}

#update-popup img.close-btn {
    position: absolute;
    top: 29px;
    right: 40px;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.popup-update {


    margin-bottom: 91px;
    color: #000;
    font-size: 36px;
    font-weight: 500;
    margin-left: 69px;
    margin-top: 63px;
}

.content-section {
    display: flex;
    justify-content: center;
    gap: 31px;
}

.image-section {
    flex-direction: column;
    /* gap: 170px; */
    display: flex;
    width: 37.235px;
    height: 671px;
    align-items: center;
    margin-left: 69px;
}

.image-section img {
    width: 37.235px;
    height: 37px;
}

.num1 {
    margin-bottom: 170px;
}

.num2 {
    margin-bottom: 390px;
}

.info-section {
    display: flex;
    flex-direction: column;
    /* gap: 91px; */
    flex-grow: 1;
}

.section-title {
    margin-bottom: 25px;
    color: #333;
    text-align: left;
    color: #002;
    font-size: 22px;
    font-weight: 600;
}

.csv-icons {
    display: flex;
    gap: 11px;
    margin-bottom: 91px;
}

.csv-icons div {
    display: flex;
    width: 416px;
    height: 65px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #F5F6FA;
}


.essential {
    color: #ACACAC;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 43px;
}

.csv-table {
    width: 639px;
    border-collapse: collapse;
    margin-bottom: 172px;
    border-left: 1.8px solid #AAB2C8;
    border-right: 1.8px solid #AAB2C8;
}

.csv-table th,
.csv-table td {
    text-align: center;
    /* 가로 중앙 정렬 */
    vertical-align: middle;
    /* 세로 중앙 정렬 */
    border: 1.8px solid #AAB2C8;
    font-size: 22px;
    width: 50%;
    /* 각 열의 너비를 50%로 설정 */
    height: 50px;
    /* 각 셀의 높이를 50px로 설정 */
}

.csv-table th {
    color: #000;
    font-size: 22px;
    font-weight: 400;
}

.csv-table tr:nth-child(3) td {
    color: #AAB2C8;
    font-size: 22px;
    font-weight: 600;
}


.upload-button {
    display: flex;
    height: 65px;
    width: 193px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #F5F6FA;
    color: #1F64FF;
    font-size: 22px;
    font-weight: 600;
    outline: none;
    border: none;
}

#cancel-button {
    position: absolute;
    bottom: 80px;
    right: 176px;
    display: flex;
    width: 100px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #1F64FF;
    background: #FFF;
    color: #1F64FF;
    font-size: 18px;
    font-weight: 700;
    outline: none;
}

#upload-button {
    position: absolute;
    bottom: 80px;
    right: 60px;
    display: flex;
    width: 100px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #1F64FF;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    border: none;
}