.my-div {
    position: relative;
}

.popup-mypage {
    display: none;
    position: absolute;
    background-color: #FFF;
    width: 136px;
    height: 68px;
    border-radius: 10px;
    box-shadow: 1px 4px 10px 0px rgba(170, 178, 200, 0.40);
    top: 50px;
    right: 5px;
    padding: 13px 58px 11px 10px;
}

.setting {
    width: 47px;
    height: 15px;
    margin-bottom: 7px;
}

.logout {
    width: 66px;
    height: 14px;
}