<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/detail/style.css">
    <link rel="stylesheet" href="/static/css/detail/header.css">
    <link rel="stylesheet" href="/static/css/detail/popup-mypage.css">
    <link rel="stylesheet" href="/static/css/detail/button.css">
    <link rel="stylesheet" href="/static/css/detail/footer.css">
    <link rel="stylesheet" href="/static/css/detail/popup.css">
    <link rel="stylesheet" href="/static/css/teacher/teacherCreateClub.css">
    <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">
    <title>JoinUS!</title>
</head>

<body>
    
        <header>
            <nav class="nav">
                <div><img src="/static/images/logo-title.png" alt=""></div>
                <div class="my-div">
                    <div class="mypage"><img class="mypage-img" src="/static/images/teacher-logo.png"
                                alt="mypage"></div>
                    <!-- 마이페이지 팝업 -->
                    <div class="popup-mypage">
                        <a href="/templates/mypage/setting-password.html"><div><img class="setting" src="/static/images/setting.png" alt=""></div></a>
                        <img class="logout" src="/static/images/logout.png" alt="">
                    </div>
                </div>
            </nav>

            
            <div id="add-container">
                <a href=""><img src="/static/images/backButton.png" alt="" class="back-img"></a>
                <span class="add"> 동아리 추가</span>
            </div>
        </header>

        <main id="main">
            <section class="section-club">
                <div id="club-text">동아리</div>
    
                <div id="club-container">
                    <a href="teacherHome.html">
                        <div class="option1 club">모든 동아리</div>
                    </a>

                    <a href="teacherChargePage.html">
                    <div class="option2 club">담당 동아리</div>
                </a>
                    
                    <a href="teacherCreateClub.html">
                        <div class="option3 club">동아리 생성하기</div>
                    </a>
                </div>
            </section>

             

            <form action="#" id="create-club">
                <p class="adminRight">관리자 권한 *</p>
                <section id="clubName-container">
                    <div class="clubName-text text">동아리명 &nbsp;<div>*</div></div>
                   
                    <div class="club_name">
                        <div class="choose-club">동아리 선택</div>
                        <img src="/static/images/situationCircle2.png" alt="" class="circleimg">
                        <div class="teacher-name">우호식 선생님</div>
                    </div>
                </section>

                <section id="simpleIntroduce-container">
                    <div class="simpleIntroduce-text text">프리뷰(한 줄 소개)</div>
                    <textarea name="simple_introduce_name" id="simpleIntroduce" class="simple_introduce clubInfo"
                        maxlength="40" placeholder="동아리 소개를 자유롭게 작성해 주세요.(최대 40자)" required></textarea>

                </section>

                <section id="introduce-container">
                    <div class="introduce-text text">동아리 소개</div>
                    <textarea name="club_introduce" id="clubIntroduce" class="club_introduce clubInfo" maxlength="400"
                        placeholder="동아리 소개를 자유롭게 작성해 주세요.(최대 400자)" required></textarea>
                </section>

                <section id="clubImgUrl-container">
                    <div class="clubImgUrl-text text">동아리 사진 등록</div>
                    <textarea name="club_img_url" id="clubImgUrl" class="club_img_url clubInfo" placeholder="URL입력"
                        required></textarea>
                </section>

                <div class="button-wrapper">
                    <button class="next-button">동아리 생성</button>
                </div>

            </form>

            <!-- popup -->
            <div id="overlay"></div>
            <div id="popup">
                <div class="message">성공적으로 동아리가 &nbsp;<span class="accent">생성</span>&nbsp;됐습니다.</div>
                <div class="club-name">
                    <div>다양한 공부 동아리</div>
                </div>
                <button id="close-btn">확인</button>
            </div>
        </main>

        <footer id="footer">
            <div class="footerinfo">
                <img src="/static/images/logo-title.png" alt="JoinUS" class="JoinUS-logo">
                <p class="footer-info tell">문의전화 : 010-0000-0000</p>
                <p class="footer-info email">이메일 : ssss@e-mirim.hs.kr</p>
            </div>
            <hr>
            <p class="copy">©Team App&Me</p>
        </footer>
     
    <script src="/static/js/teacher/create-club.js"></script>
    <script src="/static/js/mypage/popup-mypage.js"></script>
</body>

</html>