<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/detail/style.css">
    <link rel="stylesheet" href="/static/css/teacher/teacher-home.css">
    <link rel="stylesheet" href="/static/css/detail/footer.css">
    <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">
    <title>JoinUS!</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div><img src="/static/images/logo-title.png" alt=""></div>
            <div class="mypage"><a href="#"><img class="mypage-img" src="/static/images/mypages.png" alt="mypage"></a>
            </div>
        </nav>
    </header>

    <main>
        <section class="section-club">
            <div id="club-text">동아리</div>

            <div id="club-container">
                <div class="option2 club">모든 동아리</div>
                <a href="teacherChargePage.html">
                    <div class="option3 club">담당 동아리</div>
                </a>
                <a href="teacher-createClub.html">
                    <div class="option3 club">동아리 생성하기</div>
                </a>
            </div>
        </section>

        <section class="search-container">
            <img src="/static/images/search-bar.png" alt="">
            <input type="text" id="search-bar" placeholder="동아리를 검색해 주세요.">
        </section>

        <section class="club-list">
            <article class="article">
                <div class="container1">

                    <div class="article-container">
                        <div class="title-container">
                            <div class="club-title">${club.clubName}</div>
                            <div class="teacher">${}</div>
                            <div class="apply">지원가능</div>
                        </div>
                        <div class="content">${simpleIntroduce}</div>
                    </div>
                </div>
                <div class="container2">
                    <div class="clubmember">
                        <img src="\static\images\personnel.png" alt="">
                        <div>0/10</div>
                    </div>
                </div>
            </article>


        </section>
    </main>

    <footer id="footer">
        <div class="footerinfo">
            <img src="/static/images/logo-title.png" alt="JoinUS" class="JoinUS-logo">
            <p class="footer-info tell">문의전화 : 010-0000-0000</p>
            <p class="footer-info email">이메일 : ssss@e-mirim.hs.kr</p>
        </div>
        <hr>
        <p class="copy">©Team App&Me</p>
    </footer>
    <script src="/static/js/teacher/teacher-home.js"></script>
</body>

</html>