<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/detail/style.css">
    <link rel="stylesheet" href="/static/css/teacher/teacherChargePage.css">
    <link rel="stylesheet" href="/static/css/detail/footer.css">
    <title>JOINUS</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div><img src="/static/images/logo-title.png" alt=""></div>

            <div class="mypage"><img class="mypage-img" src="/static/images/mypages.png" alt=""></div>
        </nav>
    </header>

    <main>
        <section class="section-club">
            <div id="club-text">동아리</div>

            <div id="club-container">
                <a href="teacherHome.html">
                    <div class="option1 club">모든 동아리</div>
                </a>
                <div class="option2 club">담당 동아리</div>
                <a href="teacherCreateClub.html">
                    <div class="option3 club">동아리 생성하기</div>
                </a>
            </div>
        </section>

        <section class="club-list">
            <article class="article">
                <div class="container1">
                    <div class="article-container">
                        <div class="title-container">
                            <div class="club-title">다양한 공부 동아리</div>
                            <div class="teacher">우호식선생님</div>
                            <div class="apply">지원가능</div>
                        </div>
                        <div class="content">다양한 공부 지원 많아서 공부 열심히 하고 싶은 학생들 이것 저것 다 도와줌...</div>
                    </div>
                </div>
                <div class="container2">
                    <div class="clubmember">
                        <img src="\static\images\personnel.png" alt="">
                        <div>10/10</div>
                    </div>
                </div>
                <img class="dot" src="/static/images/dotdotdot.png" alt="">
                <div class="popup-div">
                    <img src="/static/images/del.png" alt="">
                    <img src="/static/images/change.png" alt="">
                </div>
            </article>
        </section>
    </main>

    <footer id="footer">
        <div class="footerinfo">
            <img src="/static/images/logo-title.png" alt="JoinUS" class="JoinUS-logo">
            <p class="footer-info tell">문의전화 : 010-0000-0000</p>
            <p class="footer-info email">이메일 : ssss@e-mirim.hs.kr</p>
        </div>
        <hr>
        <p class="copy">©Team App&Me</p>
    </footer>
    <script src="/static/js/teacher/teacherChargePage.js"></script>
</body>

</html>