<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/detail/style.css">
    <link rel="stylesheet" href="/static/css/teacher/teacherHome.css">
    <link rel="stylesheet" href="/static/css/detail/footer.css">
    <link rel="stylesheet" href="/static/css/detail/header.css">
    <!-- <link rel="stylesheet" href="/static/css/detail/popup.css"> -->
    <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/detail/popup-mypage.css">
    <title>JoinUS!</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div><img src="/static/images/logo-title.png" alt=""></div>
            <div class="my-div">
                <div class="mypage"><img class="mypage-img" src="/static/images/mypages.png" alt="mypage"></div>
                <!-- 마이페이지 팝업 -->
                <div class="popup-mypage">
                    <div><img class="setting" src="/static/images/setting.png" alt=""></div>
                    <img class="logout" src="/static/images/logout.png" alt="">
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div id="adjust-container">
            <section class="section-club">
                <div id="club-text">동아리</div>

                <div id="club-container">
                    <div class="option2 club">모든 동아리</div>
                    <a href="teacherChargePage.html">
                        <div class="option3 club">담당 동아리</div>
                    </a>
                    <a href="teacherCreateClub.html">
                        <div class="option3 club">동아리 생성하기</div>
                    </a>
                </div>
            </section>

            <section class="search-container">
                <img src="/static/images/search-bar.png" alt="">
                <input type="text" id="search-bar" placeholder="동아리를 검색해 주세요.">
            </section>

            <!-- 동아리 신청학생 명단 팝업창 -->
            <div id="overlay" class="overlay"></div>
            <div id="popup" class="popup">
                <img id="close-btn" class="close-btn" src="/static/images/x.png" alt="close">
                <div class="popup-title">동아리 신청학생 명단</div>
                <div class="popup-info">
                    <div class="student-count">&nbsp;<p class="accent">9</p>&nbsp;/10명</div>
                    <div class="download">명단 엑셀 다운로드 하기</div>
                </div>
                <div class="student-list">
                    <div class="student">
                        <img src="/static/images/mypages.png" alt="student">
                        <div class="student-info">
                            <div class="student-class">미림마이스터고 1학년 2반 13번</div>
                            <div class="student-name">김지윤</div>
                        </div>
                    </div>
                    <div class="student">
                        <img src="/static/images/mypages.png" alt="student">
                        <div class="student-info">
                            <div class="student-class">미림마이스터고 1학년 2반 13번</div>
                            <div class="student-name">김지윤</div>
                        </div>
                    </div>
                    <div class="student">
                        <img src="/static/images/mypages.png" alt="student">
                        <div class="student-info">
                            <div class="student-class">미림마이스터고 1학년 2반 13번</div>
                            <div class="student-name">김지윤</div>
                        </div>
                    </div>
                    <div class="student">
                        <img src="/static/images/mypages.png" alt="student">
                        <div class="student-info">
                            <div class="student-class">미림마이스터고 1학년 2반 13번</div>
                            <div class="student-name">김지윤</div>
                        </div>
                    </div>
                    <div class="student">
                        <img src="/static/images/mypages.png" alt="student">
                        <div class="student-info">
                            <div class="student-class">미림마이스터고 1학년 2반 13번</div>
                            <div class="student-name">김지윤</div>
                        </div>
                    </div>
                    <div class="student">
                        <img src="/static/images/mypages.png" alt="student">
                        <div class="student-info">
                            <div class="student-class">미림마이스터고 1학년 2반 13번</div>
                            <div class="student-name">김지윤</div>
                        </div>
                    </div>
                    <div class="student">
                        <img src="/static/images/mypages.png" alt="student">
                        <div class="student-info">
                            <div class="student-class">미림마이스터고 1학년 2반 13번</div>
                            <div class="student-name">김지윤</div>
                        </div>
                    </div>
                    <div class="student">
                        <img src="/static/images/mypages.png" alt="student">
                        <div class="student-info">
                            <div class="student-class">미림마이스터고 1학년 2반 13번</div>
                            <div class="student-name">김지윤</div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="club-list">
                <article class="article">
                    <div class="container1">

                        <div class="article-container">
                            <div class="title-container">
                                <div class="club-title">${club.clubName}</div>
                                <div class="teacher">${}</div>
                                <div class="apply">지원가능</div>
                            </div>
                            <div class="content">${simpleIntroduce}</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="clubmember">
                            <img src="\static\images\personnel.png" alt="">
                            <div>0/10</div>
                        </div>
                    </div>
                </article>

            </section>
        </div>
    </main>

    <footer id="footer">
        <div class="footerinfo">
            <img src="/static/images/logo-title.png" alt="JoinUS" class="JoinUS-logo">
            <p class="footer-info tell">문의전화 : 010-0000-0000</p>
            <p class="footer-info email">이메일 : ssss@e-mirim.hs.kr</p>
        </div>
        <hr>
        <p class="copy">©Team App&Me</p>
    </footer>
    <script src="/static/js/teacher/teacher-home.js"></script>
    <script src="/static/js/mypage/popup-mypage.js"></script>
</body>

</html>