body {
    background: #F5F6FA;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9rem 0;
}

.all-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 57.875rem;
    height: 43.5rem;
    box-shadow: var(--shadow1);
    border-radius: 1.875rem;
    background-color: #fff;
}

.language-container {
    width: 100%;
    max-width: 21.5rem;
    height: 1.875rem;
    border-radius: 0.375rem;
    background: var(--color9);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10.5px;
    margin: 3.06rem 0 0.94rem 0;
}
.lgg{
    width: 100%;
    max-width: 145px;
    background-color: transparent;
    border: none;
    height: 22px;
}
.language {
    color: #0047FF;
    font-size: 12px;
    font-weight: 400;
}

.language.active {
    width: 100%;
    max-width: 145px;
    height: 22px;
    background-color: #FFF;
    border-radius: 3px;
   
}

#korean {
    /* margin-left: 4.25rem; */
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    width: 21.75rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    border: 1.8px solid #ACCDFF;
    background: #FFF;
    outline: none;
    padding-left: 1.37rem;
}

input::placeholder {
    color: #D2CFCF;
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 600;
}

.options {
    display: flex;
    justify-content: flex-end;
    column-gap: 68px;
    margin: 0.69rem 0 2.87rem 0;
}

.option {
    color: var(--color6);
    font-size: 0.75rem;
    font-weight: 600;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.login-button {
    width: 100%;
    max-width: 10.4375rem;
    height: 3rem;
    border-radius: 2.0625rem;
    background: var(--color1);
    border: none;
    color: #FFF;
    font-size: var(--font-size2);
    font-weight: 700;
    cursor: pointer;
}

.lines {
    display: flex;
    column-gap: 1.69rem;
    margin: 3.19rem 0 0 0;
}

.line {
    width: 10.25rem;
    height: 0.1125rem;
    background: #ECECEC;
}

.guide-message {
    color: var(--color6);
    font-size: var(--font-size1);
    font-weight: 600;
    margin-top: -9px;
    white-space: nowrap;
}

.googlelogin-container {
    display: flex;
    justify-content: center;
    margin-top: 2.44rem;
    column-gap: 3.27rem;
    padding: 15px 10px;
    width: 21.75rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.google-login {
    width: 150px;
    height: 22px;
    background: #fff;
    border: none;
    color: #AAA;
    font-size: var(--font-size3);
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
}

.google-logo {
    width: 100%;
    max-width: 1.10506rem;
    height: 1.125rem;
    margin-top: 2px;
}

@media (max-width: 550px) {
    body {
        background-color: #FFF;
    }

    .all-container {
        box-shadow: none;
    }
    .line{
        background: #ECECEC;
        max-width: 70px;
        height: 0.1125rem;
    }

    input::placeholder{
        font-size: 12px;
    }

    .field {
        width: 21rem;
        height: 3rem;
    }
    .language-container{
        width: 21rem;
    }
    .google-login{
        font-size: 1rem;
    }
}

@media (min-width:300px) and (max-width: 380px){
    .field {
        width: 18rem;
        height: 2.7rem;
    }
    .language-container{
        width: 18rem;
    }
    .login-button{
        width: 10rem !important;
        height: 2.6rem !important;
        font-size: 0.9rem;
    }
    .joinus-logo{
        width: 160px !important;
        height: 50px !important; 

}
}