nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 88px 300px 0px 300px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #FFF;
}

.mypage {
    width: 34px;
    height: 34px;
    background-color: #0047FF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mypage-img {
    height: 22px;
    width: 22px;
}


/* 메인 */
main {
    margin-top: 268px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    height: 1050px;

}

/* 동아리 */
.section-club {
    width: 68%;
    /* 임시 */
    min-width: 800px;
    height: 8.5625rem;
    border-bottom: 2px #F1F1F1 solid;
}

#club-container {
    display: flex;

}

#club-text {
    /* 수정 필요 */
    margin-bottom: 33px;
    color: #002;
    font-size: 36px;
    font-weight: 600;
}

#club-container {
    gap: 40px;
}

#club-container>div {
    display: flex;
    padding: 20px 10px;
    color: #AAB2C8;
    font-size: 20px;
    font-weight: 700;
}

#club-container>:last-child {
    border-bottom: 2px #0047FF solid;
    color: #002;
    font-size: 20px;
}

.club-list {
    max-height: 585px;
    /* 고정된 높이 설정 */
    display: flex;
    flex-direction: column;
}

/* 아티클 내용 */
.article {
    border-radius: 10px;
    background: #F5F6FA;
    display: flex;
    width: 1290px;
    height: 110px;
    padding: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1 {
    display: flex;
    align-items: center;
    gap: 32px;
}

.container1 img {
    height: 24px;
}

.article-container {
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    gap: 15px;
    font-size: 12px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.club-title {
    font-size: 22px;
    color: #002;
    font-weight: 700;
}

.teacher {
    color: #AAB2C8;
    font-weight: 500;
}

.apply {
    width: 70px;
    height: 20px;
    color: #15D6B3;
    font-weight: 600;
    background-color: rgba(21, 214, 179, 0.2);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    font-size: 20px;
    color: #AAB2C8;
    width: 595px;
    font-weight: 400;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 39px;
}

.clubmember {
    font-size: 10px;
    color: #AAB2C8;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.clubmember img {
    width: 29px;
    height: 24px;
}

button {
    border-radius: 5px;
    border: 1px #B0B0B0 solid;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    background: #F5F6FA;
    color: #AFAFAF;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
}

button:hover {
    /* background-color: #; */
}