#popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 737px;
    height: 451px;
    padding: 60px 50px 40px 50px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 1px 5px 20px 0px #AAB2C8;
    z-index: 1000;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 178, 200, 0.50);
    z-index: 1000;
}

#close-btn {
    display: block;
    margin: 20px auto 0;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    background: #1F64FF;
    color: #FFF;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

/* #close-btn:hover {
    background-color: ;
} */

.club-name {
    width: 634px;
    height: 221px;
    background-color: #F5F6FA;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px 0 25px 0;
}

.club-name>div {
    color: #0047FF;
    font-size: 24px;
    font-weight: 700;
}

.message {
    color: #002;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accent{
    color: #0047FF;
    font-size: 1.375rem;
}