<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/detail/style.css">
    <link rel="stylesheet" href="/static/css/mypage/setting-language.css">
    <link rel="stylesheet" href="/static/css/detail/footer.css">
    <link rel="stylesheet" href="/static/css/detail/popup.css">
    <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">
    <title>JoinUS!</title>
</head>

<body>
    
        <header>
            <nav class="nav">
                <div><img src="/static/images/logo-title.png" alt=""></div>
                <div class="mypage"><a href="#"><img class="mypage-img" src="/static/images/mypages.png"
                            alt="mypage"></a></div>
            </nav>
        </header>

        <main id="main">
            <section class="section-club">
                <div id="club-text">설정</div>

                <div id="club-container">
                
                    <a href="setting-password.html">
                        <div class="option2 club">비밀번호</div>
                    </a>
                    <div class="option3 club">언어변경</div>
                </div>
            </section>

 
            <section class="language-container">
                <div class="language-change">언어 변경</div>
                <select name="" id="">
                    <option value="kor">한국어</option>
                    <option value="eng">영어</option>
                </select>
            </section>
          
        </main>

        <footer id="footer">
            <div class="footerinfo">
                <img src="/static/images/logo-title.png" alt="JoinUS" class="JoinUS-logo">
                <p class="footer-info tell">문의전화 : 010-0000-0000</p>
                <p class="footer-info email">이메일 : ssss@e-mirim.hs.kr</p>
            </div>
            <hr>
            <p class="copy">©Team App&Me</p>
        </footer>
</body>

</html>