<!-- {% load i18n %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoinUS!</title>
    <link rel="stylesheet" href="/static/css/detail/style.css">
    <link rel="stylesheet" href="/static/css/login/password-sendlink.css">
    <link rel="stylesheet" href="/static/css/detail/button.css">
    <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">

</head>

<body>
        <main id="main">
        <form action="#" id="password-search">
            <img src="/static/images/check.png" alt="check" class="check-img">
            <div class="send-message">'적은 이메일'로 성공적으로 <p>링크를 전송했습니다.</p></div>
            <a href="#"><button id="receiveLink-btn">다시 링크 받기</button></a>
            <div class="sendbutton-wrapper">
                <button class="send-button">확인</button>
            </div>
        </form>
    </main> 
</body>

</html>