<!-- {% load i18n %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoinUS!</title>
    <link rel="stylesheet" href="/static/css/detail/style.css">
    <link rel="stylesheet" href="/static/css/login/password-change.css">
    <link rel="stylesheet" href="/static/css/detail/button.css">
    <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">

</head>

<body>
        <main id="main">
            <a href="/templates/index.html"><img src="/static/images/before-arrow.png" alt="" class="before-arrow"></a>
        <form action="#" id="password-search">
            <div class="password-search-text">비밀번호 변경</div>
            <input type="password" class="new-password btn" placeholder="새로운 비밀번호">
            <input type="password" class="check-password btn" placeholder="비밀번호 확인">
            <div class="sendbutton-wrapper">
                <button class="send-button">수정완료</button>
            </div>
        </form>
    </main> 
</body>

</html>