<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/detail/style.css">
    <link rel="stylesheet" href="/static/css/detail/header.css">
    <link rel="stylesheet" href="/static/css/admin_pages/adminHome.css">
    <link rel="stylesheet" href="/static/css/detail/footer.css">
    <link rel="stylesheet" href="/static/css/detail/popup.css">
    <link rel="stylesheet" href="/static/css/detail/popup-mypage.css">
    <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">
    <title>JoinUS!</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div><img src="/static/images/logo-title.png" alt=""></div>
            <div class="my-div">
                <div class="mypage"><img class="mypage-img" src="/static/images/mypages.png" alt="mypage"></div>
                <!-- 마이페이지 팝업 -->
                <div class="popup-mypage">
                    <div><img class="setting" src="/static/images/setting.png" alt=""></div>
                    <img class="logout" src="/static/images/logout.png" alt="">
                </div>
            </div>
        </nav>
    </header>

    <main id="main">

        <div id="adjust-container">
            <section class="section-club">
                <div id="club-text">동아리</div>

                <div id="club-container">

                    <div class="option2 club"> <a href="home.html"></a>모든 동아리</a></div>

                    <div class="option3 club"><a href="adminTeacherList.html">명단 관리</div></a>
                </div>
            </section>


            <div class="button-container">
            <!-- 검색바 -->
            <section class="search-container" id="search-container">
                <img src="/static/images/search-bar.png" alt="">
                <input type="text" id="search-bar" placeholder="동아리를 검색해 주세요.">
            </section>

                <!-- 색깔 버튼 -->
                <div class="button-div">
                    <a href="/templates/admin_pages/adminCreateClub.html"><button class="add"><img src="/static/images/add.png" alt="동아리 추가기 +"></button></a>
                    <button class="settingTime">시간 설정 하기</button>
                </div>
            </div>

            <!-- 시간 설정 팝업창 -->
            <div id="overlayTime" class="overlay"></div>
            <div id="time-popup">
                <img id="close-btnTime" class="close-btn" src="/static/images/x.png" alt="close">
                <div class="popup-titleTime">시간 설정 하기</div>

                <div class="settingTime-conteiner">
                    <!-- 오픈 시간 설정 -->
                    <div class="info-container">
                        <div class="open popup-title">동아리 오픈 시간</div>
                        <div class="inputTime-container">
                            <div class="inputNumber">
                                <input type="text" class="infos timeinput open-month">
                                <div class="infos">월</div>
                            </div>
                            <div class="inputNumber">
                                <input type="text" class="infos timeinput open-day">
                                <div class="infos">일</div>
                            </div>
                            <div class="inputNumber inputHour">
                                <input type="text" class="infos timeinput open-hour">
                                <div class="infos">시</div>
                                <input type="text" class="infos timeinput open-minute">
                                <div class="infos">분</div>
                            </div>
                        </div>
                    </div>
                    <!-- 마감 시간 설정 -->
                    <div class="info-container">
                        <div class="close popup-title">동아리 마감 시간</div>
                        <div class="inputTime-container">
                            <div class="inputNumber">
                                <input type="text" class="infos timeinput close-month">
                                <div class="infos">월</div>
                            </div>
                            <div class="inputNumber">
                                <input type="text" class="infos timeinput close-day">
                                <div class="infos">일</div>
                            </div>
                            <div class="inputNumber inputHour">
                                <input type="text" class="infos timeinput close-hour">
                                <div class="infos">시</div>
                                <input type="text" class="infos timeinput close-minute">
                                <div class="infos">분</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="setting-btn">설정 완료</button>
            </div>





            <section class="club-list">
                <article class="article">
                    <div class="container1">
                        <div class="article-container">
                            <div class="title-container">
                                <div class="club-title">다양한 공부 동아리</div>
                                <div class="teacher">우호식선생님</div>
                            </div>
                            <div class="content">다양한 공부 지원 많아서 공부 열심히 하고 싶은 학생들 이것 저것 다 도와줌...</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="clubmember">
                            <img src="\static\images\personnel.png" alt="">
                            <div>10/10</div>
                        </div>
                    </div>
                    <img class="dot" src="/static/images/dotdotdot.png" alt=":">
                    <!-- 팝업-삭제, 수정 -->
                    <div class="popup-div">
                        <img class="del" src="/static/images/del.png" alt="">
                        <img class="change" src="/static/images/change.png" alt="">
                    </div>
                </article>
                <article class="article">
                    <div class="container1">
                        <div class="article-container">
                            <div class="title-container">
                                <div class="club-title">다양한 공부 동아리</div>
                                <div class="teacher">우호식선생님</div>
                            </div>
                            <div class="content">다양한 공부 지원 많아서 공부 열심히 하고 싶은 학생들 이것 저것 다 도와줌...</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="clubmember">
                            <img src="\static\images\personnel.png" alt="">
                            <div>10/10</div>
                        </div>
                    </div>
                    <img class="dot" src="/static/images/dotdotdot.png" alt="">
                    <!-- 팝업-삭제, 수정 -->
                    <div class="popup-div">
                        <img class="del" src="/static/images/del.png" alt="">
                        <img class="change" src="/static/images/change.png" alt="수정하기">
                    </div>
                </article>
                <article class="article">
                    <div class="container1">
                        <div class="article-container">
                            <div class="title-container">
                                <div class="club-title">다양한 공부 동아리</div>
                                <div class="teacher">우호식선생님</div>
                            </div>
                            <div class="content">다양한 공부 지원 많아서 공부 열심히 하고 싶은 학생들 이것 저것 다 도와줌...</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="clubmember">
                            <img src="\static\images\personnel.png" alt="">
                            <div>10/10</div>
                        </div>
                    </div>
                    <img class="dot" src="/static/images/dotdotdot.png" alt="">
                    <!-- 팝업-삭제, 수정 -->
                    <div class="popup-div">
                        <img class="del" src="/static/images/del.png" alt="">
                        <img class="change" src="/static/images/change.png" alt="">
                    </div>
                </article>
                <article class="article">
                    <div class="container1">
                        <div class="article-container">
                            <div class="title-container">
                                <div class="club-title">다양한 공부 동아리</div>
                                <div class="teacher">우호식선생님</div>
                            </div>
                            <div class="content">다양한 공부 지원 많아서 공부 열심히 하고 싶은 학생들 이것 저것 다 도와줌...</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="clubmember">
                            <img src="\static\images\personnel.png" alt="">
                            <div>10/10</div>
                        </div>
                    </div>
                    <img class="dot" src="/static/images/dotdotdot.png" alt="">
                    <!-- 팝업-삭제, 수정 -->
                    <div class="popup-div">
                        <img class="del" src="/static/images/del.png" alt="">
                        <img class="change" src="/static/images/change.png" alt="">
                    </div>
                </article>
                <article class="article">
                    <div class="container1">
                        <div class="article-container">
                            <div class="title-container">
                                <div class="club-title">다양한 공부 동아리</div>
                                <div class="teacher">우호식선생님</div>
                            </div>
                            <div class="content">다양한 공부 지원 많아서 공부 열심히 하고 싶은 학생들 이것 저것 다 도와줌...</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="clubmember">
                            <img src="\static\images\personnel.png" alt="">
                            <div>10/10</div>
                        </div>
                    </div>
                    <img class="dot" src="/static/images/dotdotdot.png" alt="">
                    <!-- 팝업-삭제, 수정 -->
                    <div class="popup-div">
                        <img class="del" src="/static/images/del.png" alt="">
                        <img class="change" src="/static/images/change.png" alt="">
                    </div>
                </article>


            </section>
        </div>
    </main>

    <footer id="footer">
        <div class="footerinfo">
            <img src="/static/images/logo-title.png" alt="JoinUS" class="JoinUS-logo">
            <p class="footer-info tell">문의전화 : 010-0000-0000</p>
            <p class="footer-info email">이메일 : ssss@e-mirim.hs.kr</p>
        </div>
        <hr>
        <p class="copy">©Team App&Me</p>
    </footer>
    <script src=""></script>
    <script src="/static/js/mypage/popup-mypage.js"></script>
    <script src="/static/js/admin_pages/adminHome.js"></script>
</body>

</html>