body {
    background-color: #F5F6FA;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
}

#password-search {
    display: flex; 
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    width: 100%;
    max-width: 1158px;
    height: 696px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: var(--shadow1);
}

.password-search-text {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
}

.name{
    margin: 2.5rem 0 1.06rem 0;
}
 
.btn {
    display: block;
    width: 100%;
    max-width: 21.75rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    border: 1.8px solid #ACCDFF;
    background: #FFF;
    font-size: 1rem;
    padding-left: 1.37rem;
    outline: none;
}

.input-container {
    position: relative;
    display: flex;
}

.email {
    width: 21.75rem;
    height: 3.25rem;
    box-sizing: border-box;
}

#verify {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;  
    border: none;
    width: 3.875rem;
    height: 1.75rem;
    border-radius: 0.25rem;
    background: rgba(37, 106, 249, 0.55);
    color: #FFF;
    font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;
}

input::placeholder {
    color: #D2CFCF;
    font-size: 1rem;
    font-weight: 600;
}
.message{
    color: #AFAFAF;
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 1.25rem;
    margin-bottom: 4.56rem;
}
.before-arrow {
    display: none;
}
/*mobile*/
@media (max-width: 550px) {
    body {
        background-color: #FFF;
    }

    #password-search {
        box-shadow: none;
    }
    
    .password-search-text {
        font-size: 20px;
    }
    #verify{
        display: none;
    }
    .btn {
        width: 330px;
        height: 50px;
    }

    p{
        margin-top: 4px;
    }

    .before-arrow {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px 0 0 20px;
    }
}
@media (min-width:300px) and (max-width: 380px){
    .btn {
        width: 19rem !important;
        height: 3rem !important;
    }
}