.section-club {
    width: 100%;
    max-width: 1317.007px;
    border-bottom: 2px #F1F1F1 solid;
}

#club-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

#club-text {
    margin-bottom: 30px;
    color: var(--color5);
    font-size: var(--font-size6);
    font-weight: 600;
}

.club {
    display: flex;
    padding: 20px 10px;
    color: #AAB2C8;
    font-size: 20px;
    font-weight: 700;
}

.option3 {
    margin-bottom: -2px;
    border-bottom: 2px #0047FF solid;
    color: #002;
    font-size: 20px;
}

#create-club {
    width: 100%;
    max-width: 1317.007px;
}

.adminRight {
    color: #0047FF;
    margin: 29px 0 29px 0;
    font-size: 16px;
    font-weight: 600;
}

.text {
    display: flex;
}

.text>div {
    color: blue;
}

.text {
    margin-bottom: 15px;
    color: var(--color5);
    font-size: 1.375rem;
    font-weight: 700;
}

.clubInfo {
    font-size: 1.25rem;
    border-radius: 0.3125rem;
    background: #F5F6FA;
    resize: none;
    outline: none;
    border: none;
    margin-bottom: 2.5rem;
    padding: 1rem 0 0 1.25rem;
    width: 100%;
    max-width: 542px;
    height: 50px;
    box-sizing: border-box;
}

textarea::placeholder {
    color: #AAB2C8;
    font-size: 1.25rem;
    font-weight: 600;
}

.club_img_url {
    width: 100%;
    max-width: 82.5rem;
    height: 2.5rem;
    padding-top: 0.5rem;
}

.club_introduce {
    width: 100%;
    max-width: 82.5rem;
    height: 18.375rem;
}

.simple_introduce {
    width: 100%;
    max-width: 82.5rem;
    height: 6.625rem;
}

.choose-club {
    width: 542px;
    margin-bottom: 35px;
    border: none;
    padding: 12px 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #F5F6FA url('/static/images/selectBtn.png') no-repeat right 20px center;
    background-size: 24px;
    border-radius: 5px;
    color: #0047FF;
    font-weight: 600;
    font-size: 20px;
    height: 50px;
}

.teacher-name {
    display: flex;
    width: 172px;
}

.teacher-name {
    height: 50px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #F5F6FA;
    color: #0047FF;
    font-weight: 600;
    font-size: 20px;
}

.club_name {
    display: flex;
    column-gap: 19px;
    font-size: 1.2rem;
}

.circleimg {
    width: 24px;
    height: 5px;
    margin-top: 20px;
}

.number-container {
    display: flex;
    margin: 25px 0 41px 0;
    flex-wrap: wrap;
}

.grade {
    color: #1F64FF;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 10px 17px 0 0;
}

.input-wrapper {
    display: flex;
}

.input-wrapper>div {
    position: absolute;
    right: 60px;
    font-size: 1.25rem;
    color: #AAB2C8;
    font-weight: 600;
}

.input-wrapper {
    position: relative;
    margin-right: 2.5rem;
    display: flex;
    align-items: center;
}

.input-number {
    width: 9.6875rem;
    height: 2.5rem;
    background-color: #F5F6FA;
    margin-right: 2.5rem;
    font-size: 1.25rem;
    border-radius: 0.3125rem;

    outline: none;
    border: none;
    text-align: center;
    padding-right: 3rem;
    text-align: end;
}

#add-container {
    display: none;
}

/* 테블릿 */

@media(min-width: 1025px) and (max-width: 1550px) {
    #main {
        margin-top: 158px;
    }
}

@media(min-width: 1025px) and (max-width: 1230px) {
    .grades {
        margin-left: -55px;
    }

    .input-number {
        width: 93px;
        box-sizing: border-box;
    }
}

@media (max-width:1024px) {
    #main {
        margin-top: 120px;
    }

    #create-club {
        width: 100%;
        max-width: 794px;
    }

    #club-text {
        font-size: 20px;
    }

    .club {
        font-size: 12px;
    }

    .adminRight {
        font-size: 9.624px;
    }

    .text,
    textarea::placeholder,
    .simple_introduce,
    .club_introduce,
    input::placeholder,
    .input-wrapper>div,
    .grade,
    #club-select,
    .club_img_url {
        font-size: 13px;
    }

    .text {
        margin-bottom: 9px;
    }

    #club-select {
        height: 30.08px;
        padding: 7.22px 0 6.86px 12.03px;
    }

    .teacher-name {
        width: 103.2px;
        height: 30px;
        white-space: nowrap;
        font-size: 13px;
    }

    .circleimg {
        width: 20px;
        height: 3.8px;
        margin-top: 15px;
    }

    .simple_introduce {
        height: 3.98569rem;
    }

    .club_introduce {
        height: 11.05456rem;
    }

    .club_img_url {
        height: 1.504rem;
        padding: 4px 0 3px 12px;
    }

    .input-number {
        width: 93.235px;
        height: 24.061px;
        font-size: 13px;
    }

    .number-container {
        margin: 15px 0 23px 0;
        width: 794px;
    }

    .grade {
        margin-top: 1px;
    }

    .grades {
        margin-left: -60px;
    }

    .next-button {
        font-size: 14px;
        width: 100%;
        max-width: 258px;
        height: 40px;
    }

}
 

/* mobile */
/* @media (max-width:550px) {

    .nav,
    .section-club,
    .adminRight,
    #situation-container {
        display: none;
    }

    header {
        display: block;
        padding: 18px 32px 18px 16px;
        width: 100%;
        height: 56px;
        background-color: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);

    }

    #add-container {
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #main {
        align-items: center;
        margin-top: 88px;
    }

    .back-img {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        align-self: flex-start;
    }

    .add {
        color: #000;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        flex: 1;

    }

    #create-club {
        width: 100%;
        max-width: 400px;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .text {
        font-size: 16px;
    }

    textarea::placeholder,
    .clubInfo {
        font-size: 14px;
        font-weight: 400;
    }

    .next-button {
        width: 286px;
        height: 44px;
        font-size: 18px;
        margin-top: -90px;
    }
} */