.titles {
    margin-top: 17px;
}

.club-text {
    margin: 17px 333px 0 319px;
}

.joinclub-name {
    color: #8B8B8B;
    font-size: 22px;
    font-weight: 500;
    width: 168px;
    height: 26px;
}

.info-email{
    margin-right: 130px;
}

.joinClub{
margin-right: 200px;
}