/* 메인 */
#main {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    height: 1050px;
}

/* 동아리 */
.section-club {
    width: 100%;
    max-width: 1317.007px;
    border-bottom: 2px #F1F1F1 solid;
}

#club-container {
    display: flex;
    column-gap: 40px;
}

#club-text {
    margin-bottom: 30px;
    color: var(--color5);
    font-size: var(--font-size6);
    font-weight: 600;
}

.club {
    display: flex;
    padding: 20px 10px;
    color: #AAB2C8;
    font-size: 20px;
    font-weight: 700;
}

.option2 {
    border-bottom: 2px #0047FF solid;
    color: #002;
    font-size: 20px;
    margin-bottom: -2px;
}

.option2>a {
    color: #002;
}

.option3>a {
    color: #AAB2C8;
    ;
}

#adjust-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 40px;
}

/* 검색바 */
.search-container {
    background-color: #F5F6FA;
    padding: 13px 17px;
    border-radius: 10px;
    /* min-width: 679px; */
    width: 679px;
    /* max-width: 679px; */
    display: flex;
    box-sizing: border-box;
    column-gap: 17px;
}

.search-container>img {
    width: 16px;
    height: 16.014px;
}


#search-bar {
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.button-container {
    position: relative;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    /* 임시 */
    top: 0px;
    left: 980px;
}



/* 동아리 추가, 시간 설정 버튼 */
.add {
    width: 150px;
    height: 42px;
    background-color: rgba(21, 214, 179, 0.2);
    border-radius: 5px;
}

.settingTime {
    width: 150px;
    height: 42px;
    background-color: rgba(66, 133, 244, 0.2);
    border-radius: 5px;

    color: #0047FF;
    font-size: 20px;
    font-weight: 600;
}



/* 동아리 */
.club-list {
    max-height: 585px;
    /* 고정된 높이 설정 */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.club-list::-webkit-scrollbar {
    border-radius: 10px;
    background: #F5F6FA;
    width: 11px;
    height: 692px;
}

.club-list::-webkit-scrollbar-thumb {
    background-color: #E1E2E9;
    border-radius: 10px;
}



/* 아티클 내용 */
.article {
    position: relative;
    border-radius: 10px;
    background: #F5F6FA;
    display: flex;
    width: 1290px;
    height: 110px;
    padding: 28px 50px 28px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1 {
    display: flex;
    align-items: center;
    gap: 32px;
}

.container1 img {
    height: 24px;
}

.article-container {
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    gap: 15px;
    font-size: 12px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.club-title {
    font-size: 22px;
    color: #002;
    font-weight: 700;
}

.teacher {
    color: #AAB2C8;
    font-weight: 500;
}



.content {
    font-size: 20px;
    color: #AAB2C8;
    width: 595px;
    font-weight: 400;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 39px;
}

.clubmember {
    font-size: 10px;
    color: #AAB2C8;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.clubmember img {
    width: 29px;
    height: 24px;
}

button {
    border: none;
    display: inline-flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #1F64FF;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}

/* 점 3개 버튼 */
.dot {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 5px;
    height: 20px;
    cursor: pointer;
}

/* dot 눌렀을 때 삭제 */
.popup-div {
    display: none;
    position: absolute;

    right: 25px; 
    top: 40px; 
    
    width: 103px;
    height: 62px;
    background-color: #fff;
    box-shadow: 1px 4px 10px 0px rgba(170, 178, 200, 0.40);
    border-radius: 10px;
    z-index: 1000;
    color: #DA4948;
    font-size: 12px;
    font-weight: 600;
    padding: 11px 22px 12px 11px;
}

.del {
    width: 45px;
    height: 14px;
    margin-bottom: 6px;
}

.change {
    width: 71px;
    height: 17px;
}

button:hover {
    /* background-color: #; */
}