    <!-- {% load i18n %} -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JoinUS!</title>
        <link rel="stylesheet" href="/static/css/detail/style.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">
    
    </head>
    <body>
        <section id="section">
            <div class="all-container">
               
                <div class="title-container"><img src="/static/images/logo-title.png" alt="joinus" class="joinus-logo"></div>
                
                <div class="language-container">
                    <button id="korean" class="language lgg">한국어</button>
                    <div class="contour language">|</div>
                    <button id="english" class="language lgg">English</button>
                </div>

                <form action="#" id="login-form" class="login-form">
                    <div class="input-group">
                    <input type="text" id="user-id" class="user-id field"  placeholder="{% trans '아이디 작성하기' %}" required>
                    <input type="password" id="user-password" class="user-password field"  placeholder="{%trans '비밀번호 작성하기' %}" required>
    
                    </div>
                    <div class="options">
                        <!-- <a href="#" class="search-id option">{%trans "아이디 찾기" %}</a> -->
                        <!-- <span class="contour2 option">|</span> -->
                        <!-- <a href="#" class="search-password option">{%trans "비밀번호 찾기" %}</a> -->
                        <a href="/templates/login/password-search.html" class="search-password option">비밀번호 찾기</a>
                    </div>

                    <div class="button-wrapper">
                        <button type="submit" id="login-button" class="login-button">로그인</button>
                    </div>
                </form>
                
                <!-- google -->
                <div class="lines">
                    <hr class="left-line line">
                    <div class="guide-message">로그인 및 회원가입 하기</div>
                    <hr class="right-line line">
                </div>
                
                <a href="#">
                    <div class="googlelogin-container">
                    <img src="/static/images/google-logo.png" alt="google" class="google-logo google">
                    <button class="google-login google">구글 계정으로 로그인</button>
                    </div>
            </a>
            </div>
        </section>
        <script src="/static/js/index.js"></script>
    </body>
    </html>