<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/myclub.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    
    <title>JOINUS</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div><img src="/static/images/logo-title.png" alt=""></div>

            <div class="mypage"><img class="mypage-img" src="/static/images/mypagelogo.png" alt=""></div>
        </nav>
    </header>

    <main>
        <section class="section-club">
            <div id="club-text">동아리</div>

            <div id="club-container">
                <div>모든 동아리</div>
                <div>신청 동아리</div>
            </div>
        </section>

        <section class="club-list">
            <article class="article">
                <div class="container1">
                    <img src="\static\images\yellostar.png" alt="">
                    <div class="article-container">
                        <div class="title-container">
                            <div class="club-title">다양한 공부 동아리</div>
                            <div class="teacher">우호식선생님</div>
                            <div class="apply">지원가능</div>
                        </div>
                        <div class="content">다양한 공부 지원 많아서 공부 열심히 하고 싶은 학생들 이것 저것 다 도와줌...</div>
                    </div>
                </div>
                <div class="container2">
                    <div class="clubmember">
                        <img src="\static\images\personnel.png" alt="">
                        <div>10/10</div>
                    </div>
                    <button>신청 취소</button>
                </div>
            </article>
        </section>
    </main>

    <footer id="footer">
        <div class="footerinfo">
            <img src="/static/images/logo-title.png" alt="JoinUS" class="JoinUS-logo">
            <p class="footer-info tell">문의전화 : 010-0000-0000</p>
            <p class="footer-info email">이메일 : ssss@e-mirim.hs.kr</p>
        </div>
        <hr>
        <p class="copy">©Team App&Me</p>
    </footer>
</body>

</html>