<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/myclub.css">
    <title>JOINUS</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div><img src="/static/images/logo-title.png" alt=""></div>

            <div class="mypage"><img class="mypage-img" src="/static/images/mypagelogo.png" alt=""></div>
        </nav>
    </header>

    <main>
        <section class="section-club">
            <div id="club-text">동아리</div>

            <div id="club-container">
                <div>모든 동아리</div>
                <div>신청 동아리</div>
            </div>
        </section>

        <section class="club-list">
            <article class="article1">동아리1</article>
        </section>
    </main>

    <footer>
    </footer>
</body>

</html>