<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/setting.css">
    <title>JOINUS</title>
</head>

<body>
    <header>
        <nav class="nav">
            <div><img src="/static/images/logo-title.png" alt=""></div>

            <div class="mypage"><img class="mypage-img" src="/static/images/mypagelogo.png" alt=""></div>
        </nav>
    </header>

    <main>
        <section class="section-setting">
            <div id="setting-text">설정</div>

            <div id="setting-container">
                <div>비밀번호</div>
                <div>언어변경</div>
            </div>
        </section>

        <form action="#" class="section-password">
            
            <div class="change-password">
                <div>비밀번호 변경</div>
                <input type="text" placeholder="이전 비밀번호">
                <input type="password" placeholder="새로운 비밀번호">
                <button class="button">수정 완료하기</button>
            </div>
        </form>


    </main>

    <footer>
    </footer>
</body>

</html>