<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/setting-password.css">

    <link rel="stylesheet" href="/static/css/footer.css">
    <link href="/static/images/logo.png" rel="shortcut icon" type="image/x-icon">
    <title>JoinUS!</title>
</head>

<body>
     
    <header>
        <nav class="nav">
            <div><img id="logo-title" src="/static/images/logo-title.png" alt=""></div>
            <div class="mypage"><a href="#"><img class="mypage-img" src="/static/images/mypages.png" alt="mypage"></a></div>
        </nav>
    </header>

    <main>
        <section class="section-club">
            <div id="club-text">설정</div>
            <div id="club-container">
                <div class="option1 club">비밀번호</div>
                <div class="option2 club"><a href="/templates/setting-language.html">언어변경</a></div>
            </div>
        </section>
    

        <form action="#" class="section-password">
            
            <div class="change-password">
                <div>비밀번호 변경</div>
                <input type="password" placeholder="이전 비밀번호" id="beforePassword" required>
                <input type="password" placeholder="새로운 비밀번호" id="afterPassword" required>
                <button class="button">수정 완료하기</button>
            </div>
        </form>
        
    </main>
 
    <footer id="footer">
        <div class="footerinfo"> 
            <img src="/static/images/logo-title.png" alt="JoinUS" class="JoinUS-logo">
            <p class="footer-info tell">문의전화 : 010-0000-0000</p>
            <p class="footer-info email">이메일 : ssss@e-mirim.hs.kr</p>
        </div>
        <hr>
        <p class="copy">©Team App&Me</p>
    </footer>
 
    <script src="/static/js/setting-password.js"></script>
</body>

</html>
