body {
    background: #F5F6FA;

}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container {
    margin: 12.03rem 0 3.97rem 0;
}

.progress-container {
    display: flex;
    column-gap: 10px;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    font-size: 1.25rem;
    width: 2.32719rem;
    height: 2.3125rem;
    border-radius: 5.1875rem;
    background: #1F64FF;
    text-align: center;
}

.second-progress {
    color: #fff;
}

.first-progress {
    color: var(--color1);
    background-color: #fff;
}

.circle {
    width: 18px;
    height: 4.5px;
    margin-top: 15px;
    margin-bottom: 69px;
}

#table {
    border-collapse: collapse;
    width: 100%;
    max-width: 850px;
    height: 425px;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: var(--shadow3);
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #eaeaed;
}

.td {
    color: var(--color5);
    font-size: var(--font-size5);
    font-weight: 200;
    padding-left: 3.88rem;
}

.info {
    width: 38rem;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 1.45rem;
}

input::placeholder {
    height: 20rem;
    width: 20rem;
    color: #D9D9D9;
    font-size: 1.4rem;
    font-weight: 600;
}


.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5.25rem 0 7.87rem 0;

}

.next-button {
    width: 21.875rem;
    height: 3.375rem;
    border: none;
    border-radius: 0.625rem;
    background: var(--color2);
    box-shadow: var(--shadow2);
    text-align: center;
    color: #FFF;
    font-size: var(--font-size4);
    font-weight: 600;
    cursor: pointer;
}
 
@media (max-width: 600px) {
    #table {
        margin: 0 auto;
        width: 350px; /* 모바일 화면에서의 너비 */
        height: 316px; /* 모바일 화면에서의 높이 */
        padding: 20px;
    }

    .info {
        width: 100%; /* 모바일 화면에서의 입력 필드 너비 조정 */
        max-width:304px;
        font-size: 1rem; /* 모바일 화면에서의 글씨 크기 조정 */
    }

    .td {
        font-size: 1rem; /* 모바일 화면에서의 텍스트 크기 조정 */
        padding-left: 1rem; /* 모바일 화면에서의 패딩 조정 */
    }

    .joinus-title {
        font-size: 2rem; /* 모바일 화면에서의 제목 글씨 크기 조정 */
    }
    .before-arrow { 
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px 0 0 20px;
    }
    
}

@media (min-width:300px) and (max-width: 380px){
     #info-form{
        padding: 50px;
        margin: 0 auto;
     }
}