 body>header {
     width: 100%;
     background-color: #fff;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     display: flex;
     justify-content: center;
     padding: 42px 0;
 }

 .nav {
     width: 100%;
     max-width: 1320px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 main {
     margin-top: 250px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .nav img {
     cursor: pointer;
 }

 .section-club {
     width: 100%;
     max-width: 1320px;
     border-bottom: 2px solid #F1F1F1;
 }

 #club-container {
     display: flex;
     column-gap: 50px;
 }

 #club-text {
     margin-bottom: 50px;
     color: var(--color5);
     font-size: var(--font-size6);
     font-weight: 600;
 }

 .club {
     color: #AAB2C8;
     font-size: 1.25rem;
     font-weight: 700;
 }
.option2 a{
    color: #AAB2C8;
}
 .option1 {
     padding-bottom: 19px;
     color: #000;
     border-bottom: 2px solid #0047FF;
     margin-bottom: -2px;
 }

 .section-password {
     width: 100%;
     max-width: 63.875rem;
     height: 31.75rem;
     border-radius: 10px;
     background: #F5F6FA;
     margin: 3.13rem 0 7.31rem 0;

     display: flex;
     justify-content: center;
     align-items: center;
 }

 .change-password {
     display: flex;
     flex-direction: column;
 }

 .change-password>:first-child {
     color: #002;
     font-size: 1.25rem;
     font-weight: 700;
     margin: 113px 0 50px 0;
 }

 input {
     width: 41.875rem;
     height: 2.47256rem;
     border-radius: 5px;
     background: #FFF;
     border: none;
     outline: none;
     margin-top: 10px;
     padding-left: 30px;
 }

 input::placeholder {
     color: #AAB2C8;
     font-size: 0.9rem;
     font-weight: 600;
 }

 .button {
     width: 100%;
     max-width: 332px;
     height: 40px;
     border-radius: 5px;
     background: #1F64FF;

     border: none;
     align-self: center;
     margin: 119px 0 72px 0;
     color: #FFF;
     font-size: 1rem;
     font-weight: 700;
     cursor: pointer;
 }